* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    height: 100vh;
    font-family: sans-serif;
    background-color: #F7F9F7;
  }
  
  /* navigation bar starts */
  
  .navbar {
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.5);
    
  }
  
  .navbar .logo {
    font-size: 2rem;
    font-weight: 300;
    text-decoration: none;
    color: #293150;
  }
  
  .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar ul li {
    list-style-type: none;
    margin-left: 0.75rem;
  }
  
  .navbar ul li a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #293150;
    transition: color 0.4s ease;
  }
  
  .navbar ul li a:hover {
    color: #b2a7bb;
  }
  
  /* Abut me section starts */
  
  #about-me-box {
    margin: 50px 0;
    background-color: #fff;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
    padding: 0 10px 0 0;
  }
  
  .about-me {
    justify-content: space-evenly;
    display: flex;
    
    
  }
  
  .text {
    margin: 20px;
    padding: 30px;
    width: 45%;
    padding: 40px;
    padding-left: 70px;
    padding-right: 70px;
    height: 400px;
    margin: 30px;
    margin-right: 30px;
    margin-bottom: 70px;
    background-color: #F7F9F7;
    line-height: 2;
    color: #21325e;
  }
  
  .about-img {
    margin: 30px;
  }
  
  /* work done secion starts */
  
  #work-done-box {
  
    margin: 50px 0;
    background-color: #fff;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
    padding: 0 10px 0 0;
  
  }
  
  
  .work-heading h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #21325e;
    text-align: center;
  }
  
  .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 0;
  }
  
  .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
    min-height: 300px;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
  }
  
  
  /* contact secton starts */
  contact-us {
    width: 50%;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  contact-us h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #293150;
  }
  
  contact-us small {
    color: #293150;
    font-weight: 300;
    letter-spacing: 0.3px;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  contact-us form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
  }
  
  
  contact-us form input,
  textarea,
  button {
    width: 100%;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid #ece7f0;
  }
  
  contact-us form input::placeholder,
  textarea::placeholder {
    color: #b2a7bb;
  }
  
  contact-us form input:focus,
  textarea:focus {
    border: 1px solid #F7F9F7;
  }
  
  contact-us form button {
    background: #21325e;
    color: #fff;
    cursor: pointer;
    border: none;
    box-shadow: 0 3px 0px 0px rgba(244, 116, 204, 0.2);
  }
  
  footer {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #b2a7bb;
  }
  
  footer .left a {
    text-decoration: none;
    color: #293150;
    font-size: 0.8rem;
    margin-right: 0.4rem;
  }
  
  footer .center {
    flex: 1;
    text-align: center;
  }
  
  footer .center p {
    color: #293150;
  }
  
  footer .right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right li {
    list-style-type: none;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
  }
  
  .right li a i {
    color: #293150;
    transition: color 0.4s ease;
  }
  
  .right li a:hover i {
    color: #f76caa;
  }
  
  .row {
    display: flex;
  }
  
  
  
  
  
  /* for different media */
  
  @media screen and (max-width: 768px) {
    .navbar .logo {
      font-size: 1.5rem;
    }
    .navbar ul li a {
      font-size: 0.8rem;
    }
  
  
    .about-me {
      flex-wrap: wrap;
    }
  
    contact-us {
      width: 80%;
    }
  
    contact-us h3 {
      font-size: 1.25rem;
    }
  
    contact-us small {
      font-size: 0.7rem;
    }
  
    contact-us form {
      width: 80%;
    }
  
    footer {
      flex-wrap: wrap;
    }
  
    footer .center p {
      font-size: 10px;
    }
  
    .row {
      flex-wrap: wrap;
      flex-direction: row;
      flex: 1;
    }
    .text {
      flex-wrap: wrap;
      flex: 1;
      line-height: 1.3;
  
    }
   
    .shrink-a {
      width: 400px;
      height: 200px;
    }
  
    
  
  }
  